In [1]:
import keras
import numpy as np
import pandas as pd

Using TensorFlow backend.

In [3]:
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('drive/My Drive/Colab Notebooks/HousingPrices.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [0]:
X = df.drop(columns=['SalePrice'])
Y = df[['SalePrice']]

In [5]:
model = keras.models.Sequential()

model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [6]:
model.fit(X, Y, epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/30
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

1460/1460 [==============================] - 1s 441us/step - loss: 38649711557.0849
Epoch 2/30
1460/1460 [==============================] - 0s 37us/step - loss: 38406368146.5863
Epoch 3/30
1460/1460 [==============================] - 0s 32us/step - loss: 38097298934.1808
Epoch 4/30
1460/1460 [==============================] - 0s 32us/step - loss: 37699826370.9808
Epoch 5/30
1460/1460 [==============================] - 0s 33us/step - loss: 37195907475.9890

/usr/local/lib/python3.6/dist-packages/keras/callbacks.py:842: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

Epoch 6/30
1460/1460 [==============================] - 0s 36us/step - loss: 36556576554.7836
Epoch 7/30
1460/1460 [==============================] - 0s 34us/step - loss: 35733033218.1041
Epoch 8/30
1460/1460 [==============================] - 0s 33us/step - loss: 34654297674.3452
Epoch 9/30
1460/1460 [==============================] - 0s 34us/step - loss: 33234178137.7753
Epoch 10/30
1460/1460 [==============================] - 0s 34us/step - loss: 31444641820.0548
Epoch 11/30
1460/1460 [==============================] - 0s 32us/step - loss: 29302713167.2548
Epoch 12/30
1460/1460 [==============================] - 0s 34us/step - loss: 26841521805.6767
Epoch 13/30
1460/1460 [==============================] - 0s 33us/step - loss: 24160977137.2712
Epoch 14/30
1460/1460 [==============================] - 0s 31us/step - loss: 21332100817.0082
Epoch 15/30
1460/1460 [==============================] - 0s 40us/step - loss: 18468242636.8000
Epoch 16/30
1460/1460 [==============================] - 0s 35us/step - loss: 15703679444.5151
Epoch 17/30
1460/1460 [==============================] - 0s 30us/step - loss: 13151295625.4685
Epoch 18/30
1460/1460 [==============================] - 0s 36us/step - loss: 10879567358.5973
Epoch 19/30
1460/1460 [==============================] - 0s 32us/step - loss: 8991381422.6411
Epoch 20/30
1460/1460 [==============================] - 0s 33us/step - loss: 7485092307.1123
Epoch 21/30
1460/1460 [==============================] - 0s 33us/step - loss: 6368188167.7151
Epoch 22/30
1460/1460 [==============================] - 0s 31us/step - loss: 5587058956.6247
Epoch 23/30
1460/1460 [==============================] - 0s 30us/step - loss: 5073475943.1014
Epoch 24/30
1460/1460 [==============================] - 0s 39us/step - loss: 4756112667.3534
Epoch 25/30
1460/1460 [==============================] - 0s 36us/step - loss: 4573016511.4740
Epoch 26/30
1460/1460 [==============================] - 0s 32us/step - loss: 4472333599.5616
Epoch 27/30
1460/1460 [==============================] - 0s 32us/step - loss: 4412045064.4164
Epoch 28/30
1460/1460 [==============================] - 0s 33us/step - loss: 4372187910.3123
Epoch 29/30
1460/1460 [==============================] - 0s 32us/step - loss: 4340792438.1808
Epoch 30/30
1460/1460 [==============================] - 0s 32us/step - loss: 4312672487.4521

In [8]:
test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[198685.97]]

In [9]:
model.save('savedmodel.h5')
!ls

drive  sample_data  savedmodel.h5

In [11]:
old_model = keras.models.load_model('savedmodel.h5')

test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
print(old_model.predict(test_data.reshape(1,8), batch_size=1))

[[198685.97]]